# Database
DB_HOST=postgres
DB_PORT=5432
DB_USER=prestamos_user
DB_PASSWORD=change_me
DB_NAME=prestamos_db

# Backend
BACKEND_PORT=3000
BACKEND_URL=http://backend:3000
JWT_SECRET=change-me-in-production
JWT_REFRESH_SECRET=change-me-in-production
JWT_EXPIRATION=365d
JWT_REFRESH_EXPIRATION=365d

# Frontend
FRONTEND_PORT=5173
VITE_API_URL=/api
